<launch>
   
 <param name="robot_goal" value="robot_0/base_pose_ground_truth"/>
    
<node name = "stageros" pkg="stage_ros" type = "stageros" args="$(find wolf)/world/willow-erratic.world" />

<node name="map_server" pkg="map_server" type="map_server" args="$(find wolf)/world/tutorial400.yaml" respawn="false"> 
<param name="frame_id" value="/map" />
  </node>

 <!--robot_0-->
   <group ns="robot_0">
  <param name="tf_prefix" value="robot_0" />
  <param name="robot_id" value="0"/>
  <node name="avoid" pkg="wolf" type="avoid" respawn="false" output="screen"/>
   <node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="false" output="screen">
      <param name="odom_frame_id" value="robot_0/odom" />
      <param name="base_frame_id" value="robot_0/base_link" />
   　　 <param name="global_frame_id" value="/map"/>
    </node>
  </group>
     
  <!--robot_1-->
  <group ns="robot_1">
  <param name="tf_prefix" value="robot_1" />
  <param name="robot_id" type="int"  value="1"/>
  <node name="Distance1" pkg="wolf" type="Distance" respawn="false" output="screen">
  <param name="robot_this" value="robot_1/base_pose_ground_truth"/>
   </node>
   <node name="action1" pkg="wolf" type="action" respawn="false" output="screen"/>
  <node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="false" output="screen">
      <param name="odom_frame_id" value="robot_1/odom" />
      <param name="base_frame_id" value="robot_1/base_link" />
   　　 <param name="global_frame_id" value="/map"/>
    </node>
  </group>
  
  <!--robot_2-->
  <group ns="robot_2">
  <param name="tf_prefix" value="robot_2" />
    <param name="robot_id" type="int"  value="2"/>
  <node name="Distance2" pkg="wolf" type="Distance" respawn="false" output="screen">
  <param name="robot_this" value="robot_2/base_pose_ground_truth"/>
   </node>
    <node name="action2" pkg="wolf" type="action" respawn="false" output="screen"/>
     <node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="false" output="screen">
      <param name="odom_frame_id" value="robot_2/odom" />
      <param name="base_frame_id" value="robot_2/base_link" />
   　　 <param name="global_frame_id" value="/map"/>
    </node>
     </group>
         
    <!--robot_3-->     
    <group ns="robot_3">
  <param name="tf_prefix" value="robot_3" />
  <param name="robot_id" type="int" value="3"/>
  <node name="Distance3" pkg="wolf" type="Distance" respawn="false" output="screen">
  <param name="robot_this" value="robot_3/base_pose_ground_truth"/>
   </node>
    <node name="action3" pkg="wolf" type="action" respawn="false" output="screen"/>
   <node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="false" output="screen">
      <param name="odom_frame_id" value="robot_3/odom" />
      <param name="base_frame_id" value="robot_3/base_link" />
   　　 <param name="global_frame_id" value="/map"/>
    </node>
  </group>

 
 
  <node name="decide" pkg="wolf" type="decide" respawn="false" output="screen"/>
 
</launch> 
